<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiny.wizard.samplebasic" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <application android:name="SampleBasicApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <activity android:name=".NotificationActivity"
            android:label="@string/notification_sample_activity"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ImplicitIntentActivity"
            android:label="@string/show_implicit_intent">
            <intent-filter>
                <action android:name="com.tiny.wizard.samplebasic.SAMPLE_BASIC"/>
            </intent-filter>
        </activity>

        <activity android:name=".TaskFlagActivity"
            android:label="@string/show_task_and_activity">
            <intent-filter>
                <action android:name="com.tiny.wizard.samplebasic.SAMPLE_BASIC"/>
            </intent-filter>
        </activity>

        <service android:name=".LocalService" android:stopWithTask="true"/>

        <activity android:name=".BindServiceActivity"
            android:label="@string/service_simple_binder_activity">
            <intent-filter>
                <action android:name="com.tiny.wizard.samplebasic.SAMPLE_BASIC"/>
            </intent-filter>
        </activity>

        <service android:name=".MessengerService" android:process=":remote"/>

        <activity android:name=".MessengerBindServiceActivity"
            android:label="@string/service_messenger_bind_activity">
            <intent-filter>
                <action android:name="com.tiny.wizard.samplebasic.SAMPLE_BASIC"/>
            </intent-filter>
        </activity>

        <service android:name=".RemoteService" android:process=":remote">
            <intent-filter>
                <!-- These are the interfaces supported by the service, which
                     you can bind to. -->
                <action android:name="com.tiny.wizard.samplebasic.IRemoteService" />
                <action android:name="com.tiny.wizard.samplebasic.IRemoteServiceSecond" />
                <!-- This is an action code you can use to select the service
                     without explicitly supplying the implementation class. -->
                <action android:name="com.tiny.wizard.samplebasic.REMOTE_SERVICE" />
            </intent-filter>
        </service>

        <activity android:name=".AIDLBindServiceActivity"
            android:label="@string/aidl_bind_service_activity">
            <intent-filter>
                <action android:name="com.tiny.wizard.samplebasic.SAMPLE_BASIC"/>
            </intent-filter>
        </activity>

        <activity android:name=".AlarmActivity" android:label="@string/alarm_receiver_activity">
            <intent-filter>
                <action android:name="com.tiny.wizard.samplebasic.SAMPLE_BASIC"/>
            </intent-filter>
        </activity>

        <receiver android:name=".OneShotAlarm" android:process=":remote"/>

        <activity android:name=".BroadcastActivity" android:label="@string/broadcast_receiver_activity">
            <intent-filter>
                <action android:name="com.tiny.wizard.samplebasic.SAMPLE_BASIC"/>
            </intent-filter>
        </activity>

        <receiver android:name=".FilterReceiver" android:process=":remote">
            <intent-filter>
                <action android:name="com.tiny.wizard.samplebasic.SAMPLE_BASIC"/>
            </intent-filter>
        </receiver>

        <activity android:name=".LoaderCursorActivity"
            android:label="@string/loader_cursor_activity">
            <intent-filter>
                <action android:name="com.tiny.wizard.samplebasic.SAMPLE_BASIC"/>
            </intent-filter>
        </activity>

        <activity android:name=".LoaderCustomActivity"
            android:label="@string/loader_custom_activity">
            <intent-filter>
                <action android:name="com.tiny.wizard.samplebasic.SAMPLE_BASIC"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
