<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.alchemistli.remotelibrary">

    <application android:allowBackup="true" android:label="@string/app_name">
        <service android:name=".RemoteAPIService" android:process=":remoteApi"></service>
    </application>

</manifest>
